window {
    font-family: 'Iosevka';
    margin: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#input {
    margin: 0px;
    padding: 20px 10px;
    font-size: 20px;
    border: 0px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 1);
    color: rgba(0, 0, 0, 1);
}

#input > image {
    color: rgba(0, 0, 0, 0);
}

#input > .left {
    margin-right: -16px;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0)
}

#scroll {
    margin-top: 10px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
}

#entry {
    margin-bottom: 10px;
    padding: 10px;
    border: 0px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    background-color: rgba(18, 18, 18, 0.9);
    font-size: 16px;
    font-weight: 600;
}

#entry:selected {
    background-color: rgba(230, 230, 230, 1);
    color: #000000;
    font-weight: 900;
    font-size: 20px;
    border: 0px solid rgba(0, 0, 0, 1);
}

#text:selected {
    background-color: rgba(230, 230, 230, 1);
    color: #000000;
}
